<div>
	<div class="row text-center">
		<h1 class="col-md-12">{{zombie?.name}}</h1>
	</div>
	<div class="row text-center justify-content-center">
		<div class="zombie-card col-md-3 rounded-circle card">
			<div class="row zombie-row">
				<div class="zombie-states-left col-3 align-self-center">
					<span *ngIf="zombie?.states?.isSick">sick</span>
				</div>
				<div class="zombie-image col-6 align-self-center">
					<img src="assets/zombie/zombie.gif">
				</div>
				<div class="zombie-states-right col-3 align-self-center">
					<span *ngIf="zombie?.states?.isHungry">hungry</span>
				</div>
			</div>
		</div>
	</div>
</div>
